/* Puis Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/PlusJakartaSans-Regular.ttf') format('truetype');
}

@theme {
  --color-nebula-blue-1: #0066FF;
  --color-nebula-blue-2: #8FA0FF;

  --color-ember-orange-1: #FF9F1C;
  --color-ember-orange-2: #FFC857;

  --color-void-black: #2A2A2A;
  --color-pure-white: #FAF7F2;

  --gradient-blue: linear-gradient(90deg, #0066FF, #8FA0FF);
  --gradient-orange: linear-gradient(90deg, #FF9F1C, #FFC857);
}

/* Force la police */
.font-manrope {
  font-family: 'Manrope', cursive !important;
}
.font-plus-jakarta-sans {
  font-family: 'Plus Jakarta Sans', cursive !important;
}