---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout titre="Ordaily">
    <p class="font-plus-jakarta-sans bg-nebula-blue-1">Bienvenue sur OrDaily, ton point de repère pour avancer sereinement dans les démarches de la vie adulte.</p>
</Layout>
