<nav class="relative backdrop-blur-md bg-[#FAF7F2]/20 shadow-[0_4px_10px_rgba(0,0,0,0.25)] border border-white/20 overflow-hidden">
    <a href="/">
        <img src="/icons/ordaily_logo.svg" alt="Ordaily Logo" class="logo" />
    </a>
    <div>
        <p>Connexion</p>
        <p>Inscription</p>
    </div>
</nav>